<h1>Create a new article</h1>

<% if @create_article&.errors&.any?%>
  <h4>The following errors prevented the article being saved</h4>
  <ul>
    <% @create_article.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </p> 

  <p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </p> 
  
  <p>
   <%= f.submit %>
  </p>
<% end %>